.footer{
    margin-top: 20px;
    background-image: linear-gradient(to left, #470341, rgb(20, 19, 19), #270224);
    display: flex;
    flex-direction: row ;
    align-items: center;
}

.footer_logo img {

    width: 300px;
    height: 150px;

}
.footer_logo {
 
}
.footer_seaction {

    color: #fff;
    flex-grow: 1;
    font-size: 13px;
    font-weight: 300;
   
}
label{
 
    position: relative;

  
}
.mail{
    display:flex;
    position: relative;
    flex-direction: column;
}
.mail__title{

  
    
    
}


.footer_seaction label input[type="text"] {

    background-color: transparent;
    color: #fff;
    border: none;

    padding: 10px 50px;
}
::placeholder {
    color: #fff;
}
.footer_seaction button {  
    color: #470341;
    background-color: #fff;
    letter-spacing: 1.2px;
    border: none;
    border-radius: 10%;
    padding: 10px 20px;

}

@media  (max-width: 768px) { 

    .footer{

        flex-direction: column;
  
      ;
    }
    .footer_logo img {

        width: 100px;
        height: 100px;
        
    
    }
    .footer_logo {
        align-self: center;
        justify-content: center;
    }
    
    .footer_seaction {

        
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        word-break: break-all;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}