.services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.serice_img {
  
    width: 39%;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 2;
    margin-top: 10px;
}
.service__title {

    flex-grow: 3;
    margin-top: 10px;

}
.service__title  h2 {

    font-size: 3.1rem;

}
.service__content{
    flex-grow:3;
    margin-top: 10px;
    width: 40%;
  


}
.service__content p {
    font-size: 20px;
}
.service__content h3 {
font-size: 2.1rem ;
padding-bottom: 40px;
}

@media screen and(max-width:900px) {
    .serice_img {
        width: 60%;
    }
    
}